.c1 {
    background-color: red;
}

.c2 {
    background-color: pink;
    border: 1px solid red;
    height: 48px;
    width: 20%;
    font-size: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: bolder;
}
