<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        body{
            margin:0;
        }
        .menu{
            display: block;
            padding:5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px;background-color: black;color: white;">
        后台管理{{ user.username }}：
    </div>

    <div style="position: absolute;top: 48px;bottom: 0;left: 0;width: 200px;background-color: darkgray;">
        <a class="menu" href="/user_info">用户管理</a>
        <a class="menu" href="/user_group">用户组管理</a>
    </div>
    <div style="position: absolute;top: 48px;left: 210px;bottom: 0;right:0;overflow:auto;">

    </div>


</body>
</html>