<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<div style="text-align: justify">
    <div>
        <label for="usr">New Username: </label>
        <input type="text" id="usr" name="usr" placeholder="username"/>
    </div>
    <div>
        <label for="pwd">Password: </label>
        <input type="text" id="pwd" name="pwd" placeholder="password"/>
    </div>
    <div>
        <label for="cfg">Password again: </label>
        <input type="text" id="cfg" name="cfg" placeholder="confirm"/>
    </div>
    <div>
        <input type="submit" value="Sign Up">
    </div>
</div>
</body>
</html>