<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body >
<form action="/cmdb/signup/" style="display: inline-block;" method="post" enctype="multipart/form-data">
    <div><input type="text" name="username" placeholder="用户名"></div>
    <div><input type="text" name="password" placeholder="密码"></div>
{#    <div>男: <input type="radio" name="gender" value="m">女: <input type="radio" name="gender" value="f"></div>#}
{#    <div>新桓结衣: <input type="checkbox" name="idol" value="新桓结衣"> 高圆圆: <input type="checkbox" name="idol" value="高圆圆"> 检察长: <input type="checkbox" name="idol" value="检察长"></div>#}
{#    <div>#}
{#        <select name="city" id="c1" multiple="multiple">#}
{#            <option value="beijing">北京</option>#}
{#            <option value="tianjin">天津</option>#}
{#            <option value="shanghai">上海</option>#}
{#        </select>#}
{#    </div>#}
{#    <div>#}
{#        <input type="file" name="fname">#}
{#    </div>#}
    <div><input type="submit" value="注册"></div>

</form>

</body>
</html>